@{
    ViewBag.Title = "Know your instructor...";
}
<h2>@ViewBag.Title.</h2>

<p>Hey!!!!</p>
<p>This is Maher, I like sports, and chess.</p>
<p>I am attending an IT course @@ TMC, I am enjoying that</p>
<p>I would like to thank Br. Fakir for this oppurtunity 😊</p>