@{    ViewBag.Title = "Instructor's Contact information";
}
<h2>@ViewBag.Title.</h2>
<address>
    2008 Temple Terrace DR.<br />
    Tampa, FL 33613<br />
    <abbr title="Phone">☎:</abbr>
    813.555.8122
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Mahertb2004@gmail.com">Mahertb2004@gmail.com</a><br />
</address>



